@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    font-family: 'popins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.genel{
    position: relative;
    width:380px ;
    height: 420px;
    background:#1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.genel::before{
    content:'' ;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin:bottom right ;
    background:linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    animation: animate 6s linear infinite;
}
.genel::after{
    content:'' ;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin:bottom right ;
    background:linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay :-3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }

}
.genel form{
    position:absolute;
    inset: 4px;
    background:#222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;


}
.genel form h2{
    color: white;
    font-weight: 500;
    text-align: center;
}
.genel form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;


}
#deneme{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.genel form .inputbox input{
    position:relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.genel form .inputbox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    color: #8f8f8f;
    padding: 20px 0px 10px;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;  
}
.genel form .inputbox input:valid~span,
.genel form .inputbox input:focus~span{
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.genel form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;


}
.genel form .inputbox input:valid~i,
.genel form .inputbox input:focus~i{
   height: 40px;
   
}
.genel form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight :600; 
    width: 100px;
    margin-top: 10px;

}
.genel form input[type="submit"]:active{

    opacity: 0.8;
}